@import "../public/assets/scss/font-awesome";
@import "../public/assets/scss/bootstrap";
.facebook-button{
    border-radius: 2px;
    color: white;
    margin-top: 20px;
    width: 187px;
    text-transform: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  